TEI_Memoirs/MoravianMemoirs.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>MemBeth TEI P5 ODD Customisation</title>
        <author xml:id="JAKA1">Diane Jakacki</author>
      </titleStmt>
      <publicationStmt>
        <authority>
          <name>Diane Jakacki</name>
          <email>diane.jakack@bucknell.edu</email>
        </authority>
        <availability>
          <licence target="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</licence>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>This TEI P5 Customisation file is being developed for memoirs from the Moravian Archives in Bethlehem, Pennsylvania as part of the Moravian Lives project ("ML"). The intention is that it
          should evolve over time.</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change when="2017-12-30" who="#JAKA1">Creation of ODD to version 0.1</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <!-- No encoding manual is being provided by Moravian Lives, but this would be where it would go. -->
      <div>
        <head>Formal Declaration</head>
        <schemaSpec ident="ML" start="TEI">
          <!-- tei module sets up class structure, etc. -->
          <moduleRef key="tei" />
          <!-- analysis module, include only span -->
          <moduleRef key="analysis" include="span" />
          
          <!-- Include all of transcription -->
          <moduleRef key="transcr" />
          
          <!-- certainty module-->
          <moduleRef key="certainty" include="certainty respons" />
          
          <!-- core module, lots of things. -->          
          <moduleRef key="core" include="abbr add addrLine address author bibl biblScope cb choice cit citedRange corr date del desc editor email expan facs foreign gap gloss graphic head hi item label l lb lg list listBibl measure milestone name note orig p pb ptr pubPlace publisher quote ref reg region relatedItem resp respStmt rs sic term textLang title unclear" />
          
          <!-- note:@type added location for notes ... but this might not be necessary-->
          <elementSpec ident="note" mode="change" module="core">
            <attList>
              <attDef ident="type" mode="change">
                <valList mode="add" type="closed">
                  <valItem ident="foot">
                    <desc>The note is at the foot of the manuscript page</desc>
                  </valItem>
                  <valItem ident="catchword">
                    <desc>The catchword written at the bottom right of the page</desc>
                  </valItem>
                  <valItem ident="marginal">
                    <desc>The note is in the margin</desc>
                  </valItem>
                  <valItem ident="editorial">
                    <desc>The note is longer form editorial note</desc>
                  </valItem>                 
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- lg:@type There are hymns from lyrics in the memoirs, so this might be useful-->
          <elementSpec ident="lg" mode="change" module="core">
            <attList>
              <attDef ident="type" mode="change">
                <valList mode="add" type="semi">
                  <valItem ident="hymn">
                    <desc>This line group is a hymn</desc>
                  </valItem>
                  <valItem ident="other">
                    <desc>This line group is some other form of verse that needs to be clarified (If you use this more than a handful of times we should update the TEI ODD Customisation.)</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <!-- Not including corpus texts (corpus) unless we want to focus on corpus linguistics from within TEI -->         
          <moduleRef key="corpus" include="settingDesc" />

          <!-- Include all of dictionaries for language processing, just in case -->
          <moduleRef key="dictionaries" />
          
          <!-- Do not include drama module unless we discover that memoirs include playtexts-->
          
          <!-- Include all of gaiji for the time being - may go back and exclude some -->
          <moduleRef key="gaiji" />

          <!-- Include all of figures -->
          <moduleRef key="figures" />

          <!-- header module -->
          <moduleRef key="header" />
          <!--include="authority availability biblFull calendar calendarDesc catDesc category change classDecl correction country distributor edition editionStmt editorialDecl email encodingDesc fileDesc funder keywords idno langUsage language licence 
               namespace noteStmt orgName principal persName profileDesc projectDesc publicationStmt refsDecl region revisionDesc 
               seriesStmt sourceDesc sponsor tagUsage tagsDecl taxonomy teiHeader titleStmt"/>-->
          
          <!-- Not including feature structures (iso-fs) unless we decide we need it -->

          <!-- include all for linking module -->
          <moduleRef key="linking"/>          
          
          <!-- Include all of msdescription -->
          <moduleRef key="msdescription" /> 
          
          <!--include="additions catchwords collation collection history institution locus msContents msDesc msIdentifier msItem msItemStruct msName msPart objectDesc
            objectType origDate origPlace origin repository signatures source summary" /> -->

          <!-- namesdates: include all for now. -->
          <moduleRef key="namesdates" />
          
          <!-- add name:@event / birth, baptism, death, other -->
          <elementSpec ident="name" mode="change" module="namesdates">
            <attList>
              <attDef ident="event" mode="add">
                <valList type="closed">
                  <valItem ident="birth" />
                  <valItem ident="baptism" />
                  <valItem ident="death" />
                  <valItem ident="other" />
                </valList>
              </attDef>
              <!-- add name:@emotion / joy, grief, other ... will adjust this over time, but is placeholder for now -->
              <attDef ident="emotion" mode="add">
                <valList type="closed">
                  <valItem ident="joy"/>
                  <valItem ident="grief"/>
                  <valItem ident="other"/>
                </valList>
              </attDef>                                      
            </attList>
          </elementSpec>
          
          <!-- add placeName:@metonym  THIS STILL DOESN"T WORK
          <elementSpec ident="placeName" mode="add" module="namesdates">
            <attList>
              <attDef ident="type" mode="change">
                <valList mode="add" type="closed">
                  <valItem ident="standard"/>
                  <valItem ident="preferred"/>
                  <valItem ident="metonym"/>
                  <valItem ident="variant"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>-->

   
          <!-- add relationships 
          <elementSpec ident="relation" mode="change" module="namesdates">
            <attList>
              <attDef ident="family" mode="add">
                <valList type="closed">
                  <valItem ident="husband" />
                  <valItem ident="wife" />
                  <valItem ident="parent" />
                  <valItem ident="child" />
                </valList>
              </attDef>
              <attDef ident="congregation" mode="add">
                <valList type="closed">
                  <valItem ident="Herrnhut" />
                  <valItem ident="Bethlehem" />
                  <valItem ident="Fulneck" />
                </valList>
              </attDef>
            </attList>
          </elementSpec> -->
          

          <classSpec ident="att.datable.custom" module="namesdates" type="atts" mode="delete" />
          <classSpec ident="att.cReferencing" module="tei" type="atts" mode="delete" />
          
          <!-- delete lots of attributes -->
          <classSpec ident="att.datable" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="when-custom" mode="delete" />
              <attDef ident="notBefore-custom" mode="delete" />
              <attDef ident="notAfter-custom" mode="delete" />
              <attDef ident="from-custom" mode="delete" />
              <attDef ident="to-custom" mode="delete" />
              <attDef ident="datingPoint" mode="delete" />
              <attDef ident="datingMethod" mode="delete" />
            </attList>
          </classSpec>
          
          <!-- delete lots of attributes -->
          <classSpec ident="att.datcat" module="tei" type="atts" mode="delete" />
          <classSpec ident="att.declarable" module="tei" type="atts" mode="delete" />
          <classSpec ident="att.declaring" module="tei" type="atts" mode="delete" />
          <classSpec ident="att.divLike" module="tei" type="atts" mode="delete" />
          <classSpec ident="att.duration.iso" module="tei" type="atts" mode="delete" />
          
          <!-- delete lots of attributes -->
          <classSpec ident="att.editLike" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="evidence" mode="delete" />
            </attList>
          </classSpec>
          
          <!-- delete lots of attributes -->
          <classSpec ident="att.rangin" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="atLeast" mode="delete" />
              <attDef ident="atMost" mode="delete" />
              <attDef ident="min" mode="delete" />
              <attDef ident="max" mode="delete" />
              <attDef ident="confidence" mode="delete" />
            </attList>
          </classSpec>
          
          <!-- delete lots of attributes -->
          <classSpec ident="att.global.rendition" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="style" mode="delete" />
            </attList>
          </classSpec>
          
          <!-- delete lots of attributes -->
          <classSpec ident="att.global.change" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="change" mode="delete" />
            </attList>
          </classSpec>
          
          <!-- delete lots of attributes -->
          <classSpec ident="att.media" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="scale" mode="delete" />
            </attList>
          </classSpec>
          
          <!-- delete lots of attributes -->
          <classSpec ident="att.interpLike" module="tei" type="atts" mode="delete" />
          
          <!-- delete lots of attributes -->
          <classSpec ident="att.naming" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="nymRef" mode="delete" />
            </attList>
          </classSpec>
          
          <!-- delete lots of attributes -->
          <classSpec ident="att.pointing" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="targetLang" mode="delete" />
              <attDef ident="evaluate" mode="delete" />
            </attList>
          </classSpec>
          
          <!-- delete lots of attributes -->
          <classSpec ident="att.pointing.group" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="domains" mode="delete" />
              <attDef ident="targFunc" mode="delete" />
              <attDef ident="targetLang" mode="delete" />
              <attDef ident="evaluate" mode="delete" />
            </attList>
          </classSpec>
          
          <!-- delete lots of attributes -->
          <classSpec ident="att.segLike" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="function" mode="delete" />
              <attDef ident="met" mode="delete" />
              <attDef ident="real" mode="delete" />
              <attDef ident="rhyme" mode="delete" />
              <attDef ident="datcat" mode="delete" />
              <attDef ident="valueDatcat" mode="delete" />
            </attList>
          </classSpec>
          
          <!-- delete lots of attributes -->
          <classSpec ident="att.timed" module="tei" type="atts" mode="delete" />
          
          <!-- delete lots of attributes -->
          <classSpec ident="att.translatable" module="tei" type="atts" mode="delete" />
          
          <!-- delete lots of attributes -->
          <classSpec ident="att.personal" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="nymRef" mode="delete" />
            </attList>
          </classSpec>
          
          <!-- Do not include Graphs, networks, and trees (nets) unless we find we need it -->
          <!-- Do not include Transcribed speech (spoken) unless we decide we want to customize distinction between ownhand and dictated -->
          
          <!-- tagsdoc module to include code -->
          <moduleRef key="tagdocs" include="code" />
          
          <!-- Do not include textcrit module unless we decide to compare versions of memoirs across archives -->
          
          <!-- textstructure module -->
          <moduleRef key="textstructure" include="TEI body byline closer dateline div docAuthor docDate floatingText group opener postscript salute signed text trailer" />
          <!-- div -->
          <elementSpec ident="div" mode="change" module="textstructure">
            <attList>
              <attDef ident="type" mode="change">
                <valList mode="add" type="semi">
                  <valItem ident="memoir">
                    <desc>This ML division is a memoir</desc>
                  </valItem>
                  <valItem ident="transcription">
                    <desc>This ML division is a transcription</desc>
                  </valItem>
                  <valItem ident="translation">
                    <desc>This ML division is a translation</desc>
                  </valItem>
                  <valItem ident="para">
                    <desc>This ML division is a paragraph</desc>
                  </valItem>
                  <valItem ident="other">
                    <desc>This ML division is something else. (If you use this more than a handful of times we should update the TEI ODD Customisation.)</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- Do not include transcription module unless we decide we want to get more specific about describing the physical document-->
          <!-- Include all of verse module -->
          <moduleRef key="verse" />
          <!-- end of schema -->
        </schemaSpec>
      </div>
    </body>
  </text>
</TEI>
