TEI_Memoirs/MoravianMemoirs.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Moravian Lives TEI P5 ODD Customisation</title>
        <author xml:id="JAKA1">Diane Jakacki</author>
      </titleStmt>
      <publicationStmt>
        <authority>
          <name>Diane Jakacki</name>
          <email>diane.jakack@bucknell.edu</email>
        </authority>
        <availability>
          <licence target="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</licence>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>This TEI P5 Customisation file is being developed for memoirs from the Moravian Archives in Bethlehem, Pennsylvania as part of the Moravian Lives project ("ML"). The intention is that it
          should evolve over time.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <editorialDecl>
        <correction>
          <p>Corrections are made to the transcribed memoirs based on transcribers' interpretations of deletions, overwrites, additions, and corrections.</p>
        </correction>
        <interpretation>
          <p>In some cases - but not all - transcribers have corrected non-standard spelling and punctuation.</p>
          <p>In order to take on more complex textual analysis, certain tags have been customized in this schema. These are marked in comments by "CUSTOMIZATION: " and then the element or attribute that has been altered or expanded.</p>
        </interpretation>
        <punctuation>
          <p>In some cases - but not all - transcriptions reflect 18th century forms of punctuation, including '=' rather than hyphens, glyphs rather than asterisks, etc.</p>
        </punctuation>
      </editorialDecl>
    </encodingDesc>
    <revisionDesc>
      <change when="2018-11-15" who="#JAKA1">Extended English and German attributes</change>
      <change when="2018-10-06" who="#JAKA1">Added English and German name attributes</change>
      <change when="2018-09-30" who="#JAKA1">Added types for Faull's FA2018 HUMN100 course</change>
      <change when="2017-12-30" who="#JAKA1">Creation of ODD to version 0.1</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <!-- No encoding manual is being provided by Moravian Lives, but this would be where it would go. -->
      <div>
        <head>Formal Declaration</head>
        <schemaSpec ident="ML" start="TEI">
          <!-- tei module sets up class structure, etc. -->
          <moduleRef key="tei"/>          
          <!-- analysis module, include only span -->
          <moduleRef key="analysis" include="span" />
          <!-- Include all of transcription -->
          <moduleRef key="transcr" />
          <!-- certainty module-->
          <moduleRef key="certainty" include="certainty respons" />
          <!-- core module, lots of things. -->
          <moduleRef key="core" include="abbr add addrLine address author bibl biblScope cb choice cit citedRange corr date del desc editor email expan facs foreign gap gloss graphic head hi item
            label l lb lg list listBibl measure milestone name note orig p pb ptr pubPlace publisher quote ref reg region relatedItem resp respStmt rs sic term textLang title unclear" />
          <!-- note:@type added location for notes ... but this might not be necessary-->
          <elementSpec ident="note" mode="change" module="core">
            <attList>
              <attDef ident="type" mode="change">
                <valList mode="add" type="closed">
                  <valItem ident="foot">
                    <desc>The note is at the foot of the manuscript page</desc>
                  </valItem>
                  <valItem ident="catchword">
                    <desc>The catchword written at the bottom right of the page</desc>
                  </valItem>
                  <valItem ident="marginal">
                    <desc>The note is in the margin</desc>
                  </valItem>
                  <valItem ident="editorial">
                    <desc>The note is longer form editorial note</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <!-- Not including corpus texts (corpus) unless we want to focus on corpus linguistics from within TEI -->
          <moduleRef key="corpus" include="settingDesc" />
          
          <!-- Include all of dictionaries for language processing, just in case -->
          <moduleRef key="dictionaries" />

          <!-- Include all of gaiji for the time being - may go back and exclude some -->
          <moduleRef key="gaiji" />
          
          <!-- Include all of figures -->
          <moduleRef key="figures" />
          
          <!-- header module -->
          <moduleRef key="header" />          
          <!--include="authority availability biblFull calendar calendarDesc catDesc category change classDecl correction country distributor edition editionStmt editorialDecl email encodingDesc fileDesc funder keywords idno langUsage language licence 
               namespace noteStmt orgName principal persName profileDesc projectDesc publicationStmt refsDecl region revisionDesc 
               seriesStmt sourceDesc sponsor tagUsage tagsDecl taxonomy teiHeader titleStmt"/>-->
          <!-- Not including feature structures (iso-fs) unless we decide we need it -->
          
          <!-- include all for linking module -->
          <moduleRef key="linking" />
          
          <!-- Include all of msdescription -->
          <moduleRef key="msdescription" />
          <!--include="additions catchwords collation collection history institution locus msContents msDesc msIdentifier msItem msItemStruct msName msPart objectDesc
            objectType origDate origPlace origin repository signatures source summary" /> -->
          
          <!-- namesdates: include all for now. -->
          <moduleRef key="namesdates" />
            
          <classSpec ident="att.datable.custom" module="namesdates" type="atts" mode="delete" />
          <classSpec ident="att.cReferencing" module="tei" type="atts" mode="delete" />
          <!-- delete lots of attributes -->
          <classSpec ident="att.datable" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="when-custom" mode="delete" />
              <attDef ident="notBefore-custom" mode="delete" />
              <attDef ident="notAfter-custom" mode="delete" />
              <attDef ident="from-custom" mode="delete" />
              <attDef ident="to-custom" mode="delete" />
              <attDef ident="datingPoint" mode="delete" />
              <attDef ident="datingMethod" mode="delete" />
            </attList>
          </classSpec>
          <!-- delete lots of attributes -->
          <classSpec ident="att.datcat" module="tei" type="atts" mode="delete" />
          <classSpec ident="att.declarable" module="tei" type="atts" mode="delete" />
          <classSpec ident="att.declaring" module="tei" type="atts" mode="delete" />
          <classSpec ident="att.divLike" module="tei" type="atts" mode="delete" />
          <classSpec ident="att.duration.iso" module="tei" type="atts" mode="delete" />
          <!-- delete lots of attributes -->
          <classSpec ident="att.editLike" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="evidence" mode="delete" />
            </attList>
          </classSpec>
          <!-- delete lots of attributes -->
          <classSpec ident="att.rangin" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="atLeast" mode="delete" />
              <attDef ident="atMost" mode="delete" />
              <attDef ident="min" mode="delete" />
              <attDef ident="max" mode="delete" />
              <attDef ident="confidence" mode="delete" />
            </attList>
          </classSpec>
          <!-- delete lots of attributes -->
          <classSpec ident="att.global.rendition" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="style" mode="delete" />
            </attList>
          </classSpec>
          <!-- delete lots of attributes -->
          <classSpec ident="att.global.change" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="change" mode="delete" />
            </attList>
          </classSpec>
          <!-- delete lots of attributes -->
          <classSpec ident="att.media" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="scale" mode="delete" />
            </attList>
          </classSpec>
          <!-- delete lots of attributes -->
          <classSpec ident="att.interpLike" module="tei" type="atts" mode="delete" />
          <!-- delete lots of attributes -->

<!-- IMPORTANT: In order to accommodate complex semantic tagging regarding the Moravians with regard to emotion, events, health/illness, and occupation, 
            we have customized the name element to include them as attributes in English and German.
            the specifications are documented in English and German with @sameAs for the other language. If we find that additional languages are needed in the Moravian Lives tagging protocols,
            we will add them. 
            ~Diane Jakacki, 11/06/2018 -->
                    
          <!-- CUSTOMIZATION: added emotion, event, health, occupation attributes / English-->
          <classSpec ident="att.naming" module="tei" type="atts" mode="change" >
            <attList>
              <attDef ident="ceremony" mode="change" sameAs="zeremonie"/>
              <attDef ident="emotion" mode="change" sameAs="gefühl"/>
              <attDef ident="event" mode="change" sameAs="ereignis"/>
              <attDef ident="health" mode="change" sameAs="beruf"/>
              <attDef ident="relation" mode="change" sameAs="verwandte"/>
            </attList>                
          </classSpec>
          
          <!-- CUSTOMIZATION: added gefühl, ereignis, beruf, gesundheitszustand attributes / German -->
          <classSpec ident="att.naming" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="beruf" mode="change" sameAs="health"/>
              <attDef ident="ereignis" mode="change" sameAs="event"/>
              <attDef ident="gefühl" mode="change" sameAs="emotion"/>
              <attDef ident="verwandte" mode="change" sameAs="relation"/>
              <attDef ident="zeremonie" mode="change" sameAs="ceremony"/>
            </attList>
          </classSpec>
 
          <!-- CUSTOMIZATION: added name:@event / English -->
          <elementSpec ident="name" mode="change" module="core">
            <attList>
              <attDef ident="event" mode="change">
                <valList mode="add" type="semi">
                  <valItem ident="baptism"/>
                  <valItem ident="birth"/>
                  <valItem ident="conversion"/>
                  <valItem ident="death"/>
                  <valItem ident="draw lot"/>
                  <valItem ident="marriage"/>
                  <valItem ident="reception"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- CUSTOMIZATION: added name:@ereignis / German -->
          <elementSpec ident="name" mode="change" module="core">
            <attList>
              <attDef ident="ereignis" mode="change">
                <valList mode="add" type="semi">
                  <valItem ident="aufnahme"/>
                  <valItem ident="bekehrung"/>
                  <valItem ident="geburt"/>
                  <valItem ident="hochzeit"/>
                  <valItem ident="losen"/>
                  <valItem ident="taufe"/>
                  <valItem ident="tod"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

<!-- CUSTOMIZATION: added name:@relation / English -->
          <elementSpec ident="name" mode="change" module="core">
            <attList>
              <attDef ident="relation" mode="change">
                <valList mode="add" type="semi">
                  <valItem ident="child"/>
                  <valItem  ident="parent"/>
                  <valItem ident="sibling"/>
                  <valItem ident="spouse"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

<!-- CUSTOMIZATION: added name:@verwandte / German -->
          <elementSpec ident="name" mode="change" module="core">
            <attList>
              <attDef ident="verwandte" mode="change">
                <valList mode="add" type="semi">
                  <valItem ident="ehepartner"/>
                  <valItem ident="eltern"/>
                  <valItem ident="geschwister"/>
                  <valItem ident="kind"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

<!-- CUSTOMIZATION: added name:@ceremony / English -->
          <elementSpec ident="name" mode="change" module="core">
            <attList>
              <attDef ident="ceremony" mode="change">
                <valList mode="add" type="semi">
                  <valItem ident="choir festival"/>
                  <valItem ident="communion"/>
                  <valItem ident="foot washing"/>
                  <valItem ident="lovefeast"/>
                  <valItem ident="Mother Feast"/>
                  <valItem ident="religious gathering"/>                 
                  <valItem ident="singing hour"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- CUSTOMIZATION: added name:@zeremonie /German -->
          <elementSpec ident="name" mode="change" module="core">
            <attList>
              <attDef ident="zeremonie" mode="change">
                <valList mode="add" type="semi">
                  <valItem ident="ältestenfest"/>
                  <valItem ident="chorfest"/>
                  <valItem ident="fußwaschung"/>
                  <valItem ident="liebesmahl"/>
                  <valItem ident="singstunde"/>
                  <valItem ident="versammlung"/>                  
                </valList>
              </attDef>
            </attList>
          </elementSpec>
                  
          <!-- CUSTOMIZATION: added en, de to distinguish language for roleName, orgName, addName -->
          <classSpec ident="att.naming" module="namesdates" type="atts" mode="change">
            <attList>
              <attDef ident="de" mode="change"/>
              <attDef ident="en" mode="change"/>
            </attList>
          </classSpec>
          
          <!-- CUSTOMIZATION: added addName:@en / English -->
          <elementSpec ident="addName" mode="change" module="namesdates">
            <attList>
              <attDef ident="en" mode="change">
                <valList mode="add" type="semi">
                  <valItem ident="brother"/>
                  <valItem ident="married couple"/>
                  <valItem ident="sister"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- CUSTOMIZATION: added addName:@de / German -->
          <elementSpec ident="addName" mode="change" module="namesdates">
            <attList>
              <attDef ident="de" mode="change">
                <valList mode="add" type="semi">
                  <valItem ident="bruder"/>
                  <valItem ident="geschwister"/>
                  <valItem ident="schwester"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- CUSTOMIZATION: added orgName:@en / English -->
          <elementSpec ident="orgName" mode="change" module="namesdates">
            <attList>
              <attDef ident="en" mode="change">
                <valList mode="add" type="semi">
                  <valItem ident="childrens choir"/>
                  <valItem ident="congregation"/>
                  <valItem ident="disciple's house"/>
                  <valItem ident="œconomy"/>
                  <valItem ident="greater boys choir"/>
                  <valItem ident="greater girls choir"/>
                  <valItem ident="married choir"/>
                  <valItem ident="pilgrim congregation"/>
                  <valItem ident="pilgrim's house"/>
                  <valItem ident="sea congregation"/>
                  <valItem ident="single brothers choir"/>
                  <valItem ident="single sisters choir"/>
                  <valItem ident="synod"/>
                  <valItem ident="widows choir"/>
                  <valItem ident="widowers choir"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- CUSTOMIZATION: added orgName@de / German -->
          <elementSpec ident="orgName" mode="change" module="namesdates">
            <attList>
              <attDef ident="de" mode="change">
                <valList mode="add" type="semi">
                  <valItem ident="œconomie"/>
                  <valItem ident="ehechor"/>
                  <valItem ident="gemeine"/>
                  <valItem ident="grosse knaben"/>
                  <valItem ident="grosse maedchen"/>
                  <valItem ident="jüngerhaus"/>
                  <valItem ident="kinderchor"/>
                  <valItem ident="ledige brueder"/>
                  <valItem ident="ledige schwestern"/>
                  <valItem ident="pilgergemeine"/>
                  <valItem ident="seegemeine"/>
                  <valItem ident="synode"/>
                  <valItem ident="witwenchor"/>
                  <valItem ident="witwerchor"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
<!-- CUSTOMIZATION: added roleName@en / English -->        
          <elementSpec ident="roleName" mode="change" module="namesdates">
            <attList>
              <attDef ident="en" mode="change">
                <valList mode="add" type="semi">
                  <valItem ident="acolyte"/>
                  <valItem ident="bishop"/>
                  <valItem ident="choir helper"/>
                  <valItem ident="choir labourer"/>
                  <valItem ident="deacon"/>
                  <valItem ident="deaconess"/>
                  <valItem ident="elder"/>
                  <valItem ident="eldress"/>
                  <valItem ident="general elder"/>
                  <valItem ident="general eldress"/>
                  <valItem ident="heathen worker"/>
                  <valItem ident="overseer"/>
                  <valItem ident="sick waiter"/>
                  <valItem ident="supervisor"/>
                  <valItem ident="teacher"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
                  
<!-- CUSTOMIZATION: added roleName@de / German -->       
          <elementSpec ident="roleName" mode="change" module="namesdates">
            <attList>
              <attDef ident="de" mode="change">
                <valList mode="add" type="semi">
                  <valItem ident="accoluth"/>
                  <valItem ident="almosenpfleger"/>
                  <valItem ident="ältester"/>
                  <valItem ident="ältestin"/>
                  <valItem ident="aufseher"/>
                  <valItem ident="bischof"/>
                  <valItem ident="chorarbeiter"/>
                  <valItem ident="chorhelfer/chorpfleger"/>
                  <valItem ident="diener/diaconus"/>
                  <valItem ident="dienerin/diaconisse"/>
                  <valItem ident="ermahner"/>
                  <valItem ident="generalältester"/>
                  <valItem ident="generalältestin"/>
                  <valItem ident="heidenarbeiter"/>
                  <valItem ident="krankenwärter"/>
                  <valItem ident="lehrer"/>
                  <valItem ident="saaldiener"/>
                  <valItem ident="vorsteher"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
                            
          <!-- delete lots of attributes -->
          <classSpec ident="att.pointing" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="targetLang" mode="delete" />
              <attDef ident="evaluate" mode="delete" />
            </attList>
          </classSpec>
          <!-- delete lots of attributes -->
          <classSpec ident="att.pointing.group" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="domains" mode="delete" />
              <attDef ident="targFunc" mode="delete" />
              <attDef ident="targetLang" mode="delete" />
              <attDef ident="evaluate" mode="delete" />
            </attList>
          </classSpec>
          <!-- delete lots of attributes -->
          <classSpec ident="att.segLike" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="function" mode="delete" />
              <attDef ident="met" mode="delete" />
              <attDef ident="real" mode="delete" />
              <attDef ident="rhyme" mode="delete" />
              <attDef ident="datcat" mode="delete" />
              <attDef ident="valueDatcat" mode="delete" />
            </attList>
          </classSpec>
          <!-- delete lots of attributes -->
          <classSpec ident="att.timed" module="tei" type="atts" mode="delete" />
          <!-- delete lots of attributes -->
          <classSpec ident="att.translatable" module="tei" type="atts" mode="delete" />
          
          <!-- delete lots of attributes -->
          <classSpec ident="att.personal" module="tei" type="atts" mode="change">
            <attList>
              <attDef ident="Ref" mode="delete" />
            </attList>
          </classSpec>
          
          <!-- Do not include Graphs, networks, and trees (nets) unless we find we need it -->
          <!-- Do not include Transcribed speech (spoken) unless we decide we want to customize distinction between ownhand and dictated -->
          <!-- tagsdoc module to include code -->
          <moduleRef key="tagdocs" include="code" />
          <!-- Do not include textcrit module unless we decide to compare versions of memoirs across archives -->
          <!-- textstructure module -->
          <moduleRef key="textstructure" include="TEI body byline closer dateline div docAuthor docDate floatingText group opener postscript salute signed text trailer" />
          <!-- div -->
          <elementSpec ident="div" mode="change" module="textstructure">

          </elementSpec>
          <!-- Do not include transcription module unless we decide we want to get more specific about describing the physical document-->
          <!-- Include all of verse module -->
          <moduleRef key="verse" />
          <!-- end of schema -->
        </schemaSpec>
      </div>
    </body>
  </text>
</TEI>
